In [1]:
import nltk
import pandas as pd
import numpy as np
import re

In [2]:
ycoe_files = nltk.corpus.reader.ycoe.YCOECorpusReader('in/ycoe2')

In [3]:
# corpus_files.documents()

In [4]:
ycoe_words = ycoe_files.words()
# list(ycoe_words)

In [5]:
len(ycoe_words)

1639127

In [6]:
ycoe_words_lower = []
for word in ycoe_words:
    ycoe_words_lower.append(word.lower())
len(ycoe_words_lower)

1639127

In [7]:
ycoe_words_lower [0:10]

['adrianus',
 'cw+a+d',
 'to',
 'ritheus',
 '.',
 'saga',
 'me',
 'hu',
 'lange',
 'w+as']

In [8]:
str_v = ' '.join(str(e) for e in ycoe_words_lower)
len(re.findall(r"\s(v\w*)", str_v))

830

In [10]:
# list(ycoe_words_lower[0:10])

In [11]:
# list(ycoe_words[0:10])

In [12]:
from collections import defaultdict
dic_words = defaultdict(list)
for word in ycoe_words_lower:
    initial = word[0] 
    if initial not in ['.', ',', ';', "$", "&", ':',"*",'?','-', '!']:
        dic_words[initial].append(word)
# dic_words.keys()

In [13]:
# dic_words

In [14]:
frequency = {}
for key in dic_words:
    frequency[key] = {'all': len(dic_words[key]), 'unique': len(set(dic_words[key]))}
table_ycoe = pd.DataFrame.from_dict(frequency, orient='index').sort_values('unique', ascending=False)
# table_ycoe

In [15]:
# list(table_ycoe)

In [16]:
# table_ycoe.index.values

In [17]:
no_vowels_table_ycoe = table_ycoe.drop(['a', 'u', 'o', 'e', 'i', 'y', 'v'])

In [18]:
from cltk.stop.old_english.stops import STOPS_LIST
ycoe_words_lower_stop = [w for w in ycoe_words_lower if not w in STOPS_LIST]

In [19]:
len(ycoe_words_lower_stop)

1404957

In [20]:
from collections import defaultdict
dic_words_stop = defaultdict(list)
for word in ycoe_words_lower_stop:
    initial_stop = word[0] 
    if initial_stop not in ['.', ',', ';', "$", "&", ':',"*",'?','-', '!']:
        dic_words_stop[initial_stop].append(word)
# list(dic_words_stop)

In [21]:
frequency_stop = {}
for key in dic_words_stop:
    frequency_stop[key] = {'all_words_stop': len(dic_words_stop[key]), 'unique_stop': len(set(dic_words_stop[key]))}
table_ycoe_stop = pd.DataFrame.from_dict(frequency_stop, orient='index').sort_values('unique_stop', ascending=False)
# table_ycoe_stop

In [22]:
table_ycoe.join(table_ycoe_stop)

      all  unique  all_words_stop  unique_stop
g  109027   11845          108314        11842
s  124499    7329          123444         7324
a   70305    5710           44107         5709
f   55554    5463           44269         5460
w   82473    5054           82173         5052
b   54524    4985           48972         4981
+  251625    4690          251625         4690
h  169913    4680           99929         4668
c   42236    3849           42236         3849
m   77687    3395           56598         3392
u   20312    3277           19716         3274
o   71002    3179           35490         3177
e   49402    3117           48796         3113
l   30371    2863           30371         2863
t   41652    2711           15406         2709
d   28030    2154           28030         2154
n   43318    1881           26440         1875
r   11876    1574           11876         1574
i   32992    1459           14836         1455
p    6276    1272            6276         1272
y    7581     656            7581          656
k     962     195             962          195
q     547     114             547          114
v     830     109             830          109
x    1226      90            1226           90
z     183      49             183           49
j      59      20              59           20

In [23]:
no_vowels_table_ycoe_stop = table_ycoe_stop.drop(['a', 'u', 'o', 'e', 'i', 'y', 'v'])

In [24]:
no_vowels_table_ycoe.join(no_vowels_table_ycoe_stop)

      all  unique  all_words_stop  unique_stop
g  109027   11845          108314        11842
s  124499    7329          123444         7324
f   55554    5463           44269         5460
w   82473    5054           82173         5052
b   54524    4985           48972         4981
+  251625    4690          251625         4690
h  169913    4680           99929         4668
c   42236    3849           42236         3849
m   77687    3395           56598         3392
l   30371    2863           30371         2863
t   41652    2711           15406         2709
d   28030    2154           28030         2154
n   43318    1881           26440         1875
r   11876    1574           11876         1574
p    6276    1272            6276         1272
k     962     195             962          195
q     547     114             547          114
x    1226      90            1226           90
z     183      49             183           49
j      59      20              59           20