In [1]:
import pandas as pd

In [2]:
!rm -rf '../Calgary_corpus/.ipynb_checkpoints'

In [3]:
from nltk.corpus import PlaintextCorpusReader
corpus_root = '../Calgary_corpus'
wordlists = PlaintextCorpusReader(corpus_root, '.*')
# wordlists.fileids()

In [4]:
words_calgary = wordlists.words()
words_calgary[0:10]
len(words_calgary)

241458

In [5]:
from cltk.stop.old_english.stops import STOPS_LIST
calgary_stop = [w for w in words_calgary if not w in STOPS_LIST]
len(calgary_stop)

209902

In [6]:
from collections import defaultdict
dic_words = defaultdict(list)
for word in words_calgary:
    initial = word[0] 
    if initial not in ['#','.',',',';','-','—',':','"','?',')','(','!', "'"]:
        dic_words[initial].append(word)
dic_words.keys()

dict_keys(['f', 'o', 'þ', 'g', 'm', 'w', 'i', 'c', 'b', 't', 's', 'l', 'a', 'h', 'e', 'n', 'æ', 'u', 'r', 'y', 'd', 'ð', 'k', 'q', 'p', 'v', 'x', 'z', 'ᛟ'])

In [7]:
# type(dic_words)
str1 = ' '.join(str(e) for e in words_calgary)
str1 [0:10]

'# ful oft '

In [8]:
import re
re.findall(r"\s(v\w*)", str1)

['verba',
 'viiii',
 'viiii',
 'viiii',
 'vii',
 'viiii',
 'viiii',
 'vii',
 'vi',
 'vii',
 'vi',
 'v',
 'v',
 'v',
 'v',
 'v',
 'vi',
 'v']

In [9]:
frequency = {}
for key in dic_words:
    frequency[key] = {'all': len(dic_words[key]), 'unique': len(set(dic_words[key]))}
table_poesy = pd.DataFrame.from_dict(frequency, orient='index').sort_values('unique', ascending=False)
# table_poesy

In [10]:
from collections import defaultdict
dic_words_stop = defaultdict(list)
for word in calgary_stop:
    initial = word[0] 
    if initial not in ['#','.',',',';','-','—',':','"','?',')','(','!', "'"]:
        dic_words_stop[initial].append(word)
dic_words_stop.keys()

dict_keys(['f', 'o', 'g', 'm', 'þ', 'w', 'i', 'c', 'b', 't', 's', 'l', 'a', 'h', 'e', 'n', 'æ', 'u', 'r', 'y', 'd', 'ð', 'k', 'q', 'p', 'v', 'x', 'z', 'ᛟ'])

In [11]:
frequency_stop = {}
for key in dic_words_stop:
    frequency_stop[key] = {'all_stop': len(dic_words_stop[key]), 'unique_stop': len(set(dic_words_stop[key]))}
table_poesy_stop = pd.DataFrame.from_dict(frequency_stop, orient='index').sort_values('unique_stop', ascending=False)
# table_poesy

In [12]:
# table_poesy_stop

In [13]:
result = table_poesy.join(table_poesy_stop)
result

     all  unique  all_stop  unique_stop
g  14555    3841     14333         3838
s  16861    2989     16777         2985
h  19058    2394     14108         2382
w  14567    2359     14062         2355
f   9675    2057      9007         2054
b   7346    1978      7060         1973
m  10822    1242      8275         1239
a   7748    1210      4500         1209
e   7628    1127      7484         1125
l   4980    1007      4980         1007
o  11051     957      5954          954
c   3606     842      3606          842
d   4363     745      4363          745
t   3628     632      1798          630
þ  17414     632     11115          628
n   5188     564      3187          559
u   2389     516      1972          513
æ   3659     515      3659          515
r   1776     482      1776          482
i   4838     336      1955          331
y   1000     227      1000          227
ð   3178     221      2803          209
p    133      90       133           90
k     45      24        45           24
x     35      14        35           14
q     25       9        25            9
v     18       5        18            5
z      5       5         5            5
ᛟ      3       2         3            2

In [14]:
no_vowels_table_ycoe = result.drop(['a', 'u', 'o', 'e', 'i', 'y', 'æ'])

In [15]:
no_vowels_table_ycoe

     all  unique  all_stop  unique_stop
g  14555    3841     14333         3838
s  16861    2989     16777         2985
h  19058    2394     14108         2382
w  14567    2359     14062         2355
f   9675    2057      9007         2054
b   7346    1978      7060         1973
m  10822    1242      8275         1239
l   4980    1007      4980         1007
c   3606     842      3606          842
d   4363     745      4363          745
t   3628     632      1798          630
þ  17414     632     11115          628
n   5188     564      3187          559
r   1776     482      1776          482
ð   3178     221      2803          209
p    133      90       133           90
k     45      24        45           24
x     35      14        35           14
q     25       9        25            9
v     18       5        18            5
z      5       5         5            5
ᛟ      3       2         3            2